.unopened {
    background-image: url('SVG/concealed.svg');
}

td {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: 64px 64px;

    /* The Kellum method of hiding text. See
     * http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.solved {
    visibility: hidden;
}
